HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/topt-base/conf_topt_serv.json-o
/topt-base/conf_topt_serv.json
/topt-base/topt_serv_conf_dev.json
/topt-base/topt_serv_conf.json
/topt-base/nbactions.xml
topt-base/topt_serv_conf.json.bak
topt-base/topt_serv_conf.json.bak
/topt-base/conf_topt_serv.json-o